@page
@model GRC.Application.Pages.Category.CreateModel
@{
    ViewData["Title"] = "Cadastrar Nova Categoria";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @* Replacing classic Validation Summary to Custom ViewComponent as TagHelper *@
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayNameFor(model => model.Category.Name)
                @Html.TextBoxFor(model => model.Category.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>
    </div>
</form>
